@font-face{
	font-family: eightbit;
	src:url(fonts/ARCADE_N.TTF);
}
@font-face{
	font-family: philospherbold;
	src:url(fonts/Philosopher-Bold.ttf);
}
@font-face{
	font-family: philospheritallic;
	src:url(fonts/Philosopher-Italic.ttf);
}

body{
	background-color: whitesmoke;
}
h1{
	font-family: philospherbold;
	font-size: 50px;
	margin-top: 50px;
	padding-left: 50px;
	align-items: center;
}

#contactdetails
{
	margin-left: 30%;
	margin-top: 100px;
}

#iconsLists
{
	list-style-type: none;
}

.fa-file
{
	font-size: 20px;
	margin-bottom: 20px;
}
.fa-phone
{
	font-size: 20px;
	margin-bottom: 20px;
}

.fa-envelope-square
{
	font-size: 20px;
	margin-bottom: 20px;
}

.fa-map-marker-alt
{
	font-size: 20px;
	margin-bottom: 20px;
}

.fa-linkedin-in
{
	font-size: 20px;
	margin-bottom: 20px;
}

.fa-youtube
{
	font-size: 20px;
	margin-bottom: 20px;
}

#texticon
{
	margin-left: 20px;
	font-family: philospherbold;
	color: red;
}
li,a{
	font-family: philospherbold;
	font-weight: 500;
	font-size: 16px;
	color: black;
	text-decoration: none;
}
header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 10%;
	border-top: 5px solid red;
	border-bottom: 5px solid red;
}

.nav_links{
	list-style: none;
}

.nav_links li{
	display: inline-block;
	padding: 0px 20px;
}

.nav_links li a{
	transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
	color: red;
}