@font-face{
	font-family: eightbit;
	src:url(fonts/ARCADE_N.TTF);
}
@font-face{
	font-family: philospherbold;
	src:url(fonts/Philosopher-Bold.ttf);
}
@font-face{
	font-family: philospheritallic;
	src:url(fonts/Philosopher-Italic.ttf);
}

body{
	background-color: whitesmoke;
}
h1{
	font-family: philospherbold;
	font-size: 3vw;
	margin-top: 10vh;
}

#contactdetails
{
	margin-top: 10vh;
}

#iconsLists
{
	list-style-type: none;
}

.fa-file
{
	font-size: 1.5vw;
	margin-bottom: 20px;
}
.fa-phone
{
	font-size: 1.5vw;
	margin-bottom: 20px;
}

.fa-envelope-square
{
	font-size: 1.5vw;
	margin-bottom: 20px;
}

.fa-map-marker-alt
{
	font-size: 1.5vw;
	margin-bottom: 20px;
}

.fa-linkedin-in
{
	font-size: 1.5vw;
	margin-bottom: 20px;
}

.fa-link
{
	font-size: 1.5vw;
	margin-bottom: 20px;
}

.fa-youtube
{
	font-size: 1.5vw;
	margin-bottom: 20px;
}

#texticon
{
	margin-left: 1.5vw;
	font-family: philospherbold;
	color: red;
}
li,a{
	font-family: philospherbold;
	font-weight: 500;
	font-size: 1.3vw;
	color: black;
	text-decoration: none;
}
header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1vh 3vw;
	border-top: 0.5vh solid red;
	border-bottom: 0.5vh solid red;
}

.nav_links{
	list-style: none;
}

.nav_links li{
	display: inline-block;
	padding: 0px 3vw;
}

.nav_links li a{
	transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
	color: red;
}

@media only screen and (max-width: 600px){
	header{
		padding: 0vh 1vw;
	}
	.nav_links li a{
	font-size: 2vw;
	}
	.nav_links li{
	display: inline-block;
	padding: 0px 1vw;
	}
	h1{
	font-family: philospherbold;
	font-size: 3vh;
	margin-top: 5vh;
	}

	#contactdetails
	{
	margin-left: 30vw;
	margin-right: 10vw;
	margin-top: 10vh;
	}

	#iconsLists
	{
		list-style-type: none;
	}

	.fa-file
	{
		font-size: 3vw;
		margin-bottom: 20px;
	}
	.fa-phone
	{
		font-size: 3vw;
		margin-bottom: 20px;
	}

	.fa-envelope-square
	{
		font-size: 3vw;
		margin-bottom: 20px;
	}

	.fa-map-marker-alt
	{
		font-size: 3vw;
		margin-bottom: 20px;
	}

	.fa-linkedin-in
	{
		font-size: 3vw;
		margin-bottom: 20px;
	}

	.fa-link
	{
		font-size: 3vw;
		margin-bottom: 20px;
	}

	.fa-youtube
	{
		font-size: 3vw;
		margin-bottom: 20px;
	}

	#texticon
	{
		margin-left: 3vw;
		font-family: philospherbold;
		color: red;
	}
}