@font-face{
	font-family: eightbit;
	src:url(fonts/ARCADE_N.TTF);
}
@font-face{
	font-family: philospherbold;
	src:url(fonts/Philosopher-Bold.ttf);
}
@font-face{
	font-family: philospheritallic;
	src:url(fonts/Philosopher-Italic.ttf);
}

body{
	background-color: whitesmoke;
}

h2{
	font-family: eightbit;
	font-size: 20px;
	margin-top: 20px;
	padding-left: 150px;
}
#hello
{
	padding-top: 100px;
}
#avatar{
	border-radius: 50%;
	width: 150px;
	height: 150px;
	background-image: url("images/avatar.jpg");
	background-size: cover;
	justify-content: center;
	float: right;
}
#name
{
	font-family: eightbit;
	color: red;
	font-size: large;
}
#bio
{
	font-family: philospherbold;
	padding-left: 150px;
	width: 1000px;
	height: 100px;
	font-size: 20px;
	letter-spacing: 1px;
	float: left;
}
#Resumelink
{
	font-family: eightbit;
	font-size: 15px;
	color: red;
}
#wrapper
{
	padding-right: 150px;
}

li,a{
	font-family: philospherbold;
	font-weight: 500;
	font-size: 16px;
	color: black;
	text-decoration: none;
}
header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 10%;
	border-top: 5px solid red;
	border-bottom: 5px solid red;
}

.nav_links{
	list-style: none;
}

.nav_links li{
	display: inline-block;
	padding: 0px 20px;
}

.nav_links li a{
	transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
	color: red;
}