@font-face{
	font-family: eightbit;
	src:url(fonts/ARCADE_N.TTF);
}
@font-face{
	font-family: philospherbold;
	src:url(fonts/Philosopher-Bold.ttf);
}
@font-face{
	font-family: philospheritallic;
	src:url(fonts/Philosopher-Italic.ttf);
}

body{
	background-color: whitesmoke;
}

h2{
	font-family: eightbit;
	font-size: 2vw;
	margin-top: 20px;
	padding-left: 10vw;
}
#hello
{
	padding-top: 5vh;
}
#avatar{
	position: sticky;
	margin-left: 50%;
	margin-top: 10vh;
	border-radius: 50%;
	width: 150px;
	height: 150px;
	background-image: url("images/avatar.jpg");
	background-size: cover;
}
#name
{
	font-family: eightbit;
	color: red;
}
#bio
{
	position: sticky;
	font-family: philospherbold;
	margin-left: 10vw;
	margin-right: 20vw;
	font-size: 1.3vw;
	letter-spacing: 1px;
}
#Resumelink
{
	font-family: eightbit;
	font-size: 1.2vw;
	color: red;
}
#wrapper
{
	padding-right: 150px;
}

li,a{
	font-family: philospherbold;
	font-weight: 500;
	font-size: 1.3vw;
	color: black;
	text-decoration: none;
}
header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1vh 3vw;
	border-top: 0.5vh solid red;
	border-bottom: 0.5vh solid red;
}

.nav_links{
	list-style: none;
}

.nav_links li{
	display: inline-block;
	padding: 0px 3vw;
}

.nav_links li a{
	transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
	color: red;
}

@media only screen and (max-width: 600px){
	#hello
	{
		padding-top: 2vh;
	}
	
	#bio
	{
	margin-left: 3vw;
	margin-right: 4vw;
	font-size: 2vw;
	letter-spacing: 0px;
	}

	h2{
	font-size: 2vw;
	padding-left: 3vw;
	}
	header{
		padding: 0vh 1vw;
}